<!DOCTYPE html>
<html>
  <head>
    <title>Chat examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat examples</h1>
    <ul>
      <li><a href="/polling/Elon%20Musk%20(parody)/">Polling</a></li>
      <li><a href="/longpolling/Elon%20Musk%20(parody)/">Long polling</a></li>
      <li><a href="/sse/Elon%20Musk%20(parody)/">Server-sent events (SSE)</a></li>
      <li><a href="/websocket/Elon%20Musk%20(parody)/">WebSocket</a></li>
    </ul>
  </body>
</html>
