<!DOCTYPE html>
<html>
  <head>
    <title>Chat examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat examples</h1>
    <ul>
      <li><a href="/longpolling/Virginie%20Despentes%20/">Polling</a></li>
      <li><a href="/polling/Virginie%20Despentes%20/">Long polling</a></li>
      <li><a href="/sse/Virginie%20Despentes%20/">Server-sent events (SSE)</a></li>
      <li><a href="/websocket/Virginie%20Despentes%20/">WebSocket</a></li>
    </ul>
  </body>
</html>
